* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}
body {
  background-image: linear-gradient(
    to right,
    #fdf4d5,
    #ffd6fa,
    #8acaec,
    #fdefba
  );
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 850px;
  width: 100%;
  box-shadow: 0 0 5px 1px rgba(243, 239, 239, 0.397);
  padding: 2rem;
  background-color: rgb(251, 255, 179);
  color: #76d0e4;
  border-radius: 5px;
  transition: all 0.6s ease-in;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  & h1 {
    /* background-image: linear-gradient(to right, #ffefba, #ffffff); */
    color: #ffffff;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
}
.btn {
  border: none;
  padding: 1rem 1rem;
  cursor: pointer;
  outline: none;
  font-size: 0.9em;
  background-color: #fff;
  color: #fd9ec5;
  border-radius: 2px;
  font-weight: bolder;
  /* transition: 0.3s ease-in-out; */
}
.header-btn:focus {
  transform: scale(0.98);
  outline: none;
}
.message {
  text-align: center;
  color: #5e5a5a;
  font-weight: 0;
}
.container h2 {
  text-align: center;
  font-size: em;
  padding: 1rem 0;
}
.number-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  padding: 2rem 0;
}

.input-num {
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 0.8rem;
  font-size: 1.2em;
  border: 1px solid #ddd;
}

.content {
  font-size: 1em;
}

@media (max-width: 700px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .header-container {
    display: flex;
    flex-direction: column-reverse;

    & h1 {
      text-align: center;
    }
  }
  .number-container {
    display: flex;
    flex-direction: column;
  }
}
